.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 100px;
}
.img{
    width: 100%;
}

.aboutUs {
    background-color: red;
    background-image: url("/Img/Profile\ Picture.jpg");
}